.login {
  display: flex;
  height: 100vh;
}

.registerInfo {
  padding: 0 25%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  width: 100%;
}

.leftSection {
  flex: 4;
  display: flex;
  background-color: whitesmoke;
}

.loginInfo {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-direction: column;
}

.login__wrapper {
  display: flex;
  padding: 5% 0;
  gap: 50px;
}
